<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/cs.png') }}" alt="CS logo" class="logo d-inline-block">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto text-center">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('cascada') }}">Cascada</a></li>
                <li class="nav-item"><a class="nav-link" href="#section__equipo">Equipo</a></li>
            </ul>
        </div>
    </div>
</nav>